<div class="back">
<div class="login-box">
    <img class="icon" src="../../assets/img/icono.png" alt="Logo">
    <h1>Login Here</h1>
    <form>
     <label for="Username">Username</label>
     <input type="text" placeholder="Enter Username">  

     <label for="Password">Password</label>
     <input type="password" placeholder="Enter Password">  
     

    <input type="submit" value="Log In">

    <a href="#">Lost your Password</a><br>
    <a href="#">Don't have an account</a>
    </form>
</div>
</div>
